<template name = "layout">
	<div class = "container">
        
    <div class = "navbar">
      <header>
      <h1>
       Communal Kitchen
      </h1>
    </header>

    		<ul class="nav navbar-nav navbar-center">
      			<li role="presentation" >
      				<a href="{{pathFor 'home'}}" class = "home">Home </a>
            </li>
            <li>
              <a href="{{pathFor 'houseShoppingList'}}" class = "house"> House Shopping List</a>
            </li>

            <li role = "presentation" >
              <a href="{{pathFor 'personalShoppingList'}}" class = "myshoppinglist"> My Shopping List</a>
            </li>
        </ul>
        <ul class = "navUser nav navbar-nav navbar-left">
            <li role = "presentation" class = "login">
              {{> loginButtons}}
            </li>
    		</ul>
    </div>
    
	<!--<h1>My App</h1>-->
	{{>yield}}
	</div>
</template>