<template name = "layout">
	<br>
	<div class = "container">
		<ul class="nav nav-tabs">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}">Home</a>
  			</li>

 			  <li role="presentation">
 				   <a href="{{pathFor 'houseShoppingList'}}">House Shopping List</a>
 			  </li>

  			<li role="presentation">
  				<a href="{{pathFor 'personalShoppingList'}}">Personal Shopping List</a>
  			</li>

        <li role = "showList">
          <a href="{{pathFor 'mealCalendar'}}">Meal Calendar</a>
        </li>

        <li role = "testing">
          <a href ="{{pathFor 'testing'}}">Testing</a>
        </li>
        
  			<li>
  				{{> loginButtons}}
  			</li>
		</ul>
	<!--<h1>My App</h1>-->
	{{>yield}}
	</div>
</template>