<template name = "layout">
  <style>
    header{
      text-align: center;
      font-family: "Spelling Night";

    }
    nav{
      font-family: "Verdana", sans-serif;
      text-align: center;
    }
  </style>
	<div class = "container">
    <header>
      <h1>
       Communal Kitchen
      </h1>
    </header>
    <nav class = "navbar">
      <div>
    		<ul class="nav nav-tabs">
      			<li role="presentation">
      				<a href="{{pathFor 'home'}}">Home</a>
      			</li>

     			  <li role="presentation">
     				   <a href="{{pathFor 'houseShoppingList'}}">House Shopping List</a>
     			  </li>

      			<li role="presentation">
      				<a href="{{pathFor 'personalShoppingList'}}">My Shopping List</a>
      			</li>

            <li role = "presentation">
              <a href="{{pathFor 'mealCalendar'}}">Meal Calendar</a>
            </li>

            <li role = "presentation">
              <a href ="{{pathFor 'settings'}}">Settings</a>
            </li>
            
      			<li role = "presentation">
      				{{> loginButtons}}
      			</li>
    		</ul>
      </div>
    </nav>
	<!--<h1>My App</h1>-->
	{{>yield}}
	</div>
</template>